<div class="row">
	<div class="card col-md-5">
		<p>
		  <strong>Title:</strong>
		  <%= @task.title %>
		</p>

		<p>
		  <strong>Image:</strong>
		  <%= image_tag @task.image, class: 'card-img-top' %>
		</p>
	</div>
	<div class="col-md-1">
	</div>
	<div class="card col-md-5">
		<table class="table">
			<tr>
				<th></th>
				<th>Nombre</th>
				<th>Foto</th>
			</tr>
			<% @usertasks.each_with_index do |usertask, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><%= usertask.user.email %></td>
					<td><%= "Foto" if index + 1 < 6%></td> 
				</tr>
			<% end %>
		</table>
	</div>
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
